.signup-wrapper{
    width: 50%;
    margin: auto;
}

.title{
    text-align: center;
    margin-top: 20px;
}
#home{
    display: flex;
   height: 100vh;
    justify-content: space-evenly;
    align-items: center;
}
.side1{
    text-align: justify;
    color: black;
    width: 350px;
    height: 250px;
   
}
p{
    color: rgba(0, 0, 255, 0.496);
    text-align: justify;
    font-style: italic;
}


.btn{
    padding: 6px;
    margin-top: 5px;
    border-radius: 10px;
    color:white;
}

.head1 {
    color: blue;
  font-style: oblique;

}
.hr{
    color: blue ;
}

.head2 {
    color: rgba(0, 0, 255, 0.442);
    font-style: oblique;
}

.img {
    width: 600px;
    height: 400px;
    filter: drop-shadow(16px 7px 8px blue);
    background-image: url(images.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
